<mat-toolbar color="primary" class="navbar">

    <button mat-button class="example-icon" routerLink="/" aria-label="Example icon-button with menu icon">
        <mat-icon>task</mat-icon>
        <span style="font-size: large; ">Megmo Tracker</span>
    </button>


    <span class="example-spacer"></span>

    <button mat-button class="example-icon favorite-icon  " *ngIf="!loginService.isLoggedIn()" routerLink="/login"
        aria-label="Example icon-button with heart icon">Login
    </button>



    <button mat-button class="example-icon favorite-icon  " *ngIf="!loginService.isLoggedIn()" routerLink="/sign-up"
        style="margin-right: 60px; margin-left: 30px;" aria-label="Example icon-button with heart icon">Register
    </button>

    <button mat-button routerLink="/admin-dashboard/profile" class="example-icon favorite-icon  "
        *ngIf="loginService.isLoggedIn() && username!=''"
        style="margin-right: 140px; margin-left: 30px; font-size:18px;"
        aria-label="Example icon-button with heart icon">
        Hii
        {{username.firstname}}!
    </button>

    <button mat-button class="example-icon favorite-icon  " *ngIf="loginService.isLoggedIn()" (click)="logout()"
        style="margin-right: 60px; margin-left: 30px; font-size:15px;"
        aria-label="Example icon-button with heart icon">Logout
    </button>

</mat-toolbar>